.nav{
    display:flex;
}
.nav1{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 10%;
    height: 50px;
    background-color: brown;
    
}
.nav2-title{
    display: flex;
    width: 90%;
    background-color: gray;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 200px;
    color:white;
}
